<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>brick_grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,32},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>brick_grass2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,32},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>bricks.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,64},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>bricks_sand.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dirt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,224},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dirt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,96},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dirt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,224},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dirt4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,160},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dirt5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,64},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dirt_grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,192},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,128},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>grass2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,96},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>grass3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,192},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>grass_sand.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,64},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>ice.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sand.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,32},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sand2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,224},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sand_dirt.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,96},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sand_grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,32},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>snow.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,128},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>snow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>snow_brick.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,160},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>snow_grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,160},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>snow_grass2.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swamp.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,32},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swamp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,64},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swamp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,128},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swamp4.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,192},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>